<%= form_with(model: @tweeet, local: true,url: choose_new_or_edit) do |form| %>

  <% if @tweeet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @tweeet.errors.count %>errors occurred.</h2>
      <ul>

      <% @tweeet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content%>
    <%= form.text_area :content %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
